<p id="notice"></p>
  <div class="container">
    <p></p>

    <div class="row">
      <div class="col-md-8 offset-2 text-center">
        <div class="box1">
          <h2>求人予約ページ</h2>
        </div>
      </div>
    </div>

    <p></p>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="text-center">
            下記の内容で予約を確定しますが、<br>
            よろしいでしょうか？<br>
        </h3>
      </div>
    </div>

    <p></p>

    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag @job_offer.farmer.get_farmers_image,size: "300x300" %>
        <p></p>
        <table class="table table-bordered table-hover table-light" >
          <tr><th class="table-active">生産者名</th><td><%= @job_offer.farmer.name %></td></tr>
          <tr><th class="table-active">フリガナ</th><td><%= @job_offer.farmer.name_kana %></td></tr>
        </table>
      </div>

      <div class="col-md-8">
        <table class="table table-bordered table-hover table-light" >
          <tr><th class="table-active">作業名</th><td><%= @job_offer.job_name %></td></tr>
          <tr><th class="table-active">作業内容</th><td><%= @job_offer.job_content %></td></tr>
          <tr><th class="table-active">日付</th><td><%= l @job_offer.day,format: :long %></td></tr>
          <tr><th class="table-active">開始時間</th><td><%= l @job_offer.start_time,format: :short %></td></tr>
          <tr><th class="table-active">勤務時間</th><td><%= @job_offer.job_time %>時間</td></tr>
          <tr><th class="table-active">日当</th><td><%= @job_offer.salary %>円</td></tr>
          <tr><th class="table-active">地区</th><td><%= @job_offer.area_i18n %></td></tr>
          <tr><th class="table-active">郵便番号</th><td>〒<%= @job_offer.job_postal_code %></td></tr>
          <tr><th class="table-active">住所</th><td><%= @job_offer.job_address %></td></tr>
          <tr><th class="table-active">電話番号</th><td><%= @job_offer.farmer.telephone_number %></td></tr>
          <tr><th class="table-active">コメント</th><td><%= @job_offer.comment %></td></tr>
        </table>
      </div>
    </div>

    <%= form_with model: @reservation, url: job_offer_reservations_information_path, method: :post do |f| %>
    <div class="row">
      <div class="col-md-2 offset-4">
        <%= f.submit "予約確定", class: "btn btn-success btn-lg" %>
    　</div>
    　<div class="col-md-3">
        <%= link_to "戻る", job_offer_path(@job_offer.id), class: "btn btn-warning btn-lg" %>
      </div>
    </div>

    <p></p>

    <% end %>

</div>

