<p id="notice"></p>
  <div class="container">

    <p></p>

    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="box1">
          <h2>利用者レビューページ</h2>
        </div>
      </div>
    </div>

    <% if @customer_review.errors.any? %>
      <%= @customer_review.errors.count %>件のエラーが発生しました
      <ul>
        <% @customer_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag @job_offer.farmer.get_farmers_image,size: "300x300" %>

        <p></p>

        <table class="table table-bordered table-hover table-light" >
          <tr>
            <th class="table-active">生産者名</th><td><%= @job_offer.farmer.name %></td>
          </tr>
          <tr>
            <th class="table-active">フリガナ</th><td><%= @job_offer.farmer.name_kana %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-8">
        <table class="table table-bordered table-hover table-light" >
          <tr>
            <th class="table-active">作業名</th><td><%= @job_offer.job_name %></td>
          </tr>
          <tr>
            <th class="table-active">作業内容</th><td><%= @job_offer.job_content %></td>
          </tr>
          <tr>
            <th class="table-active">日付</th><td><%= l @job_offer.day,format: :long %></td>
          </tr>
           <tr>
            <th class="table-active">求人形態</th><td><%= @job_offer.job_form_i18n %></td>
          </tr>
          <tr>
            <th class="table-active">日数(短期の場合)</th><td><%= @job_offer.number_of_days %></td>
          </tr>
          <tr>
            <th class="table-active">開始時間</th><td><%= l @job_offer.start_time,format: :short %></td>
          </tr>
          <tr>
            <th class="table-active">勤務時間</th><td><%= @job_offer.job_time %>時間</td>
          </tr>
          <tr>
            <th class="table-active">日当</th><td><%= @job_offer.salary %>円</td>
          </tr>
          <tr>
            <th class="table-active">地区</th><td><%= @job_offer.area_i18n %></td>
          </tr>
          <tr>
            <th class="table-active">郵便番号</th><td>〒<%= @job_offer.job_postal_code %></td>
          </tr>
          <tr>
            <th class="table-active">住所</th><td><%= @job_offer.job_address %></td>
          </tr>
          <tr>
            <th class="table-active">電話番号</th><td><%= @job_offer.farmer.telephone_number %></td>
          </tr>
          <tr>
            <th class="table-active">コメント</th><td><%= @job_offer.comment %></td>
          </tr>
        </table>
      </div>
    </div>

    <p></p>



      <%= form_with model: @customer_review, url: job_offer_customer_reviews_path, method: :post do |f| %>

          <div class="form-group" id="customer_star">
            <%= f.label :customer_star,'評価 ', class:'col-md-3 col-form-label offset-3 text-center' %>
          </div>

        <p></p>


        <div class="row">
          <div class="col-md-3 offset-3 text-center">
            生産者へのコメント
          </div>
          <div class="col-md-4">
            <%= f.text_area :customer_comment, class:"w-100" %>
          </div>
        </div>

        <p></p>

        <div class="col text-center">
          <%= f.submit 'レビュー登録', class: "btn btn-success" %>
        </div>
        <!--</div>-->
        <!--</div>-->
      <% end %>
  </div>
<p></p>

<script>
  var elem = document.getElementById('customer_star')
  var opt = {
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              size     : 36,
  };
  raty(elem,opt)
</script>
