<p id="notice"></p>
  <div class="container">

    <p></p>

    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="box1">
          <h2>利用者レビュー管理</h2>
        </div>
      </div>
    </div>

    <table class="table text-center">
          <thead>
            <tr>
              <th class="col-md-1">レビューID</th>
              <th class="col-md-1">利用者ID</th>
              <th class="col-md-2">利用者名</th>
              <th class="col-md-1">E-mail</th>
              <th class="col-md-2">送信先</th>
              <th class="col-md-1">評価</th>
              <th class="col-md-5">コメント</th>
              <th></th>
            </tr>
          </thead>
        <tbody>
      <% @customer_reviews.each do |customer_review| %>
          <tr>
           <td><%= customer_review.id %></td>
            <td><%= customer_review.customer.id %></td>
            <td><%= customer_review.customer.first_name %><%=customer_review.customer.last_name %></td>
           <td><%= customer_review.customer.email %></td>
           <td><%= customer_review.job_offer.farmer.name %></td>
            <td><%= customer_review.customer_star %></td>
           <td><%= customer_review.customer_comment %></td>
           <td><%= link_to '削除',  admin_customer_review_path(customer_review.id), method: :delete, "data-confirm" => "本当に消しますか?",  class: "btn btn-danger" %></td>
          </tr>
            <%#= image_tag customer_review.customer.get_customers_image,size: "150x150" %>
          </tbody>
      <% end %>
      </table>
  </div>
  <p></p>
