<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2 text-center">
      <div class="box1">
        <h2>利用者ログイン</h2>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-7 offset-3">
        <h4>会員の方はこちらからログイン</h4>
      </div>
    </div>

<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class="row">
    <div class="col-md-2 py-3 offset-4">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-6 py-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="col-md-2 py-3 offset-4">
      <%= f.label :パスワード %>
    </div>
    <div class="col-md-5 py-3">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>


    <div class="col text-center">
    <%= f.submit 'ログイン', class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
<p></p>

<div class="row">
  <div class="col-md-7 offset-3">
    <h4>会員登録がお済みでない方</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-7 offset-3 text-break">
    <%= render "customer/shared/links" %>から新規登録を行ってください。
  </div>
</div>
</div>

