<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="box1">
          <h2>求人予約者一覧</h2>
        </div>
      </div>
    </div>


    <% @customers.each do |customer| %>
    <div class= "row border rounded-pill border-2 p-5 align-items-center bg-light mt-3">
      <div class="col-md-2">
          <%= image_tag customer.get_customers_image,size: "150x150" %>
      </div>

      <div class="col-md-3" >
        氏名：<%= customer.first_name %><%= customer.last_name %><br>
        <p></p>
        年齢：<%= customer.age %><br>
      </div>
      <div class="col-md-4">
        性別：<%= customer.gender_i18n %><br>
        <p></p>
        電話番号：<%= customer.telephone_number %><br>
      </div>

      <div class="col-md-2">
        <% unless @job_offer.farmer_reviews.where(customer_id: customer.id).exists? %>
          <%= link_to 'レビュー',  new_farmer_job_offer_farmer_review_path(@job_offer.id, customer_id: customer.id), class: "btn btn-danger btn-lg" %>
        <%end%>
      </div>

    </div>
    <% end %>
   <p></p>
  </div>
