<p id="notice"></p>
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-1">
          <h2>求人予約者一覧</h2>
        </div>


      <div class="col-md-2 offset-md-1">
        <%= link_to new_farmer_job_offer_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>


    <% @customers.each do |customer| %>
    <div class= "row border border-5 p-5 d-flex align-items-center">
      <div class="col-md-2">
        <%= image_tag customer.get_customers_image,size: "150x150" %>
      </div>

      <div class="col-md-3" >
        氏名：<%= customer.first_name %><%= customer.last_name %><br>
        <p></p>
        年齢：<%= customer.age %><br>
      </div>
      <div class="col-md-4">
        性別：<%= customer.gender_i18n %><br>
        <p></p>
        電話番号：<%= customer.telephone_number %><br>
      </div>

    </div>
    <% end %>

  </div>
