<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="box1">
          <h2>生産者レビューページ</h2>
        </div>
      </div>
    </div>

    <% if @farmer_review.errors.any? %>
      <%= @farmer_review.errors.count %>件のエラーが発生しました
      <ul>
        <% @farmer_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

　　<div class="row align-items-center">
      <div class="col-md-4 offset-1 text-center">
        <%= image_tag @customer.get_customers_image,size: "300x300" %>
        <p></p>
        <table class="table table-bordered table-hover table-light" >
          <tr><th class="table-active">氏名</th><td><%= @customer.first_name %><%= @customer.last_name %></td></tr>
          <tr><th class="table-active">フリガナ</th><td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td></tr>
        </table>
      </div>

      <div class="col-md-5 offset-1">
        <table  class="table table-bordered table-hover table-light" >
          <tr><th class="table-active">メールアドレス</th><td><%= @customer.email %></td></tr>
          <tr><th class="table-active">性別</th><td><%= @customer.gender_i18n %></td></tr>
          <tr><th class="table-active">年齢</th><td><%= @customer.age %>歳</td></tr>
          <tr><th class="table-active">電話番号</th><td><%= @customer.telephone_number %></td></tr>
        </table>
      </div>
    </div>


    <p></p>

      <%= form_with model: @farmer_review, url: farmer_job_offer_farmer_reviews_path(customer_id: @customer.id), method: :post do |f| %>
        <%= f.hidden_field :customer_id, :value => @customer.id %>

      <!--<div class="col-md-4 offset-3">-->
      <!--<div class="row">-->
        <div class="form-group" id="farmer_star">
          <%= f.label :farmer_star,'評価 ', class:'col-md-3 col-form-label offset-3 text-center' %>
        </div>
      <!--</div>-->
      <p></p>

        <div class="row">
          <div class="col-md-3 offset-3 text-center">
            利用者へのコメント
          </div>
          <div class="col-md-4">
            <%= f.text_area :farmer_comment, class:"w-100" %>
          </div>
        </div>

        <p></p>

        <div class="col text-center">
          <%= f.submit 'レビュー登録', class: "btn btn-success" %>
        </div>
        <!--</div>-->
        <!--</div>-->
      <% end %>
  </div>
<p></p>

<script>
  var elem = document.getElementById('farmer_star')
  var opt = {
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              size     : 36,
  };
  raty(elem,opt)
</script>
