<% job_offers.each do |job_offer| %>
    <div class= "row border rounded-pill border-2 p-5 align-items-center bg-light mt-3">
      <div class="col-md-3">
        <%= image_tag job_offer.farmer.get_farmers_image,size: "150x150", class:"box2" %>
      </div>
      <div class="col-md-3" >
        生産者名：<%= job_offer.farmer.name %><br>
        <p></p>
        作業名：<%= job_offer.job_name %><br>
        <p></p>
        日付：<%= l job_offer.day,format: :long %><br>
        <p></p>
        地区：<%= job_offer.area_i18n %><br>
      </div>
      <div class="col-md-3">
        求人形態：<%= job_offer.job_form_i18n %><br>
        <p></p>
        勤務時間：<%= job_offer.job_time %>時間<br>
        <p></p>
        日当：<%= job_offer.salary %>円<br>
        <p></p>
        募集状況：<%= job_offer.job_status_i18n %><br>
      </div>
      <div class="col-md-3">
        <%= link_to '詳細を見る', job_offer_path(job_offer.id), class: "btn btn-primary btn-lg" %>
      </div>

    </div>
    <% end %>