<p id="notice"></p>
  <div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-1 text-center">
          <div class="box1">
            <h2>求人一覧</h2>
          </div>
        </div>

        <div class="col-md-5 offset-md-2">
          <div class="search_form">
            <%= form_with url: job_offers_search_path, local: true, method: :get do |f| %>
              キーワード検索
              <%= f.select :area, JobOffer.areas_i18n.keys.map{|k| [I18n.t("enums.job_offer.area.#{k}"), k]} %>
              <%= f.select :job_form, JobOffer.job_forms_i18n.keys.map{|k| [I18n.t("enums.job_offer.job_form.#{k}"), k]} %>
              <%= f.submit "検索", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

    </div>

   <%= render 'list', job_offers: @job_offers %>
  </div>

  <p></p>