<p id="notice"></p>
  <div class="container">

    <p></p>

    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="box1">
          <h2>生産者レビュー管理</h2>
        </div>
      </div>
    </div>


    <table class="table text-center">
          <thead>
            <tr>
              <th class="col-md-1">レビューID</th>
              <th class="col-md-1">生産者ID</th>
              <th class="col-md-2">生産者名</th>
              <th class="col-md-1">E-mail</th>
              <th class="col-md-2">送信先</th>
              <th class="col-md-1">評価</th>
              <th class="col-md-5">コメント</th>
              <th></th>
            </tr>
          </thead>
　　　　　<tbody>

      <% @farmer_reviews.each do |farmer_review| %>
          <tr>
        　 <td><%= farmer_review.id %></td>
        　  <td><%=farmer_review.job_offer.farmer.id %></td>
        　  <td><%= farmer_review.job_offer.farmer.name %></td>
        　 <td><%= farmer_review.job_offer.farmer.email %></td>
        　 <td><%= farmer_review.customer.first_name %><%= farmer_review.customer.last_name %></td>
        　  <td><%= farmer_review.farmer_star %></td>
        　 <td><%= farmer_review.farmer_comment %></td>
        　 <td><%= link_to '削除',  admin_farmer_review_path(farmer_review.id), method: :delete, "data-confirm" => "本当に消しますか?",  class: "btn btn-danger" %></td>
        　</tr>
            <%#= image_tag customer_review.customer.get_customers_image,size: "150x150" %>
          </tbody>
      <% end %>
    </table>
    </div>
<p></p>