<p id="notice"></p>
  <div class="container">


    <p></p>

    <div class="row">
      <div class="col-md-5 offset-2 text-center">
        <div class="box1">
          <h2>生産者マイページ</h2>
        </div>
      </div>
      <div class="col-md-2 offset-2 align-self-center">
      <%= link_to '編集する', farmer_farmers_mypage_edit_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>

    <p></p>

    <div class="row">
      <div class="col-md-4 offset-1">
        <%= image_tag @farmer.get_farmers_image,size: "300x300" %>
      </div>

      <div class="col-md-6">
        <table class="table table-bordered table-hover table-light" >
          <tr><th class="table-active">生産者名</th><td><%= @farmer.name %></td></tr>
          <tr><th class="table-active">フリガナ</th><td><%= @farmer.name_kana %></td></tr>
          <tr><th class="table-active">メールアドレス</th><td><%= @farmer.email %></td></tr>
          <tr><th class="table-active">郵便番号</th><td><%= @farmer.postal_code %></td></tr>
          <tr><th class="table-active">住所</th><td><%= @farmer.address %></td></tr>
          <tr><th class="table-active">電話番号</th><td><%= @farmer.telephone_number %></td></tr>

        </table>
      </div>
    </div>
  </div>
