<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-1 text-center">
        <div class="box1">
          <h2>生産者求人一覧</h2>
        </div>
      </div>

      <div class="col-md-2 offset-md-2 align-self-center">
        <%= link_to new_farmer_job_offer_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>



    <% @job_offers.each do |job_offer| %>
    <div class= "row border rounded-pill border-2 p-5 align-items-center bg-light mt-3">
      <div class="col-md-2">
        <%= image_tag @farmer.get_farmers_image,size: "150x150" %>
      </div>

      <div class="col-md-3" >
        作業名：<%= job_offer.job_name %><br>
        <p></p>
        日付：<%= l job_offer.day,format: :long %><br>
        <p></p>
        地区：<%= job_offer.area_i18n %><br>
        <p></p>
        求人形態：<%= job_offer.job_form_i18n %><br>
      </div>
      <div class="col-md-2">
        勤務時間：<%= job_offer.job_time %>時間<br>
        <p></p>
        日当：<%= job_offer.salary %>円<br>
        <p></p>
        募集状況：<%= job_offer.job_status_i18n %><br>
      </div>
      <div class="col-md-2">
        <%= link_to '詳細', farmer_job_offer_path(job_offer.id), class: "btn btn-primary btn-lg" %>
      </div>
      <div class="col-md-2">
        <%= link_to '削除',  farmer_job_offer_path(job_offer.id), method: :delete, "data-confirm" => "本当に消しますか?",  class: "btn btn-danger btn-lg" %>
      </div>

    </div>
    <% end %>

    <p></p>
  </div>