<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2>生産者求人一覧</h2>
      </div>

      <div class="col-md-2 offset-md-1">
        <%= link_to new_farmer_job_offer_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>

    <% @job_offers.each do |job_offer| %>
    <div class= "row border border-5 p-5">
      <div class="col-md-2">
        <%= image_tag @farmer.get_farmers_image,size: "150x150" %>
      </div>
      <div class="col-md-3">
        作業名：<%= job_offer.job_name %><br>
        <p></p>
        日付：<%= job_offer.day %><br>
        <p></p>
        地区：<%= job_offer.area_i18n %><br>
      </div>
      <div class="col-md-2">
        日当：<%= job_offer.salary %>円<br>
        <p></p>
        募集状況：<%= job_offer.job_status_i18n %><br>
      </div>

    </div>
    <% end %>